.team-details {
	.properties-container {
		table {
			width: 100%;

			.caption {
				text-align: center;
				font-weight: bold;
			}
		}
	}

	.team-members {
		width: 18px;
		height: 18px;
		font-size: 16px;

		&:hover, &:focus {
			opacity: 1;
		}
	}

	.position-widget {
		text-align: center;

		.x-panel-body {
			background-color: #BDC3C7;
			width: 100%;

			.x-box-inner,
			.x-box-target,
			.x-component {
				width: 100% !important;
			}
		}

		.distance-previous-team,
		.distance-next-team {
		}

		.rank {
			font-size: 40px;
			line-height: 54px;
		}
	}

	.status-label {
		color: $base-color;
		line-height: 25px;
	}
}