/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.09.2014, 13:29:11
    Author     : uide8178
*/
.metro-button {
    // subselector
    &.x-btn {
        @include border-radius(0px);
        
        border-width: 2px;
        border-color: transparent;
        
        // reset the gradient
        background-image: none;
        // the icon has to take full size
        .x-btn-icon-el {
            width: 128px;
            height: 128px;
            background-size: 128px 128px;
            background-position: center;
        }
        
        // add a border arount it when hovering
        &:hover{
            border-color: $metro-button-hover-color;
        }
        
        // dispatch colors
        &.red {
            background-color: #c0392b;
        }
        &.green {
            background-color: #27ae60;
        }
        &.blue {
            background-color: $base-color;
        }
    }
}