.team-toggle-all {
	label {
		.x-form-item-label-inner {
			color: #666;
		}
	}
}

.geolocation-button {
	.fa {
		font-size: 20px;
		width: 20px;
		margin: -4px 8px 0 0;
	}
}

.geolocation-item {
	.fa {
		font-size: 20px;
		width: 20px;
		margin: 2px 8px 0 0;
	}
}