.twitter-panel {
    .tweetsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .load-error {
            padding: 1vh 1vw;

            h3 {
                color: $base-dark-color;
            }

            small {
                color: $neutral-dark-color;
            }
        }
    }
}