/** @class Ext.grid.column.Column */
//
// $grid-header-background-color: $third-color;
$grid-column-header-font-weight: $font-weight !default;
$grid-column-header-color: #666 !default;

// $grid-column-header-focus-border-color: mix($grid-header-background-color, $base-color, 20%) !default;

