.elevationChartView {
    width: 100%;
    height: 100%;
    position: absolute;

    &.with-bg-image {
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: auto 80%;
        background-position-y: 10px;

        svg:hover path {
            opacity: 1 !important; // override opacity from scritps... sorry for important but it would require waaaay too many changes
        }
    }
}