/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.09.2014, 10:23:31
    Author     : uide8178
*/

// .west-panel-container {
// 	border-top: solid 1px rgba($base-color, 0.5);
// }

.main-header-bar{
    .x-panel-body{
        background-color: $second-color;
    }
    
    .event-name-label {
        .x-panel-body {
            color: #fff;
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            
            .x-autocontainer-innerCt {
                vertical-align: middle !important;
            }
        }
    }
}

.metro-tile-navigation-panel{
    .x-panel-body {
        background-color: $second-color;
    }
}
