/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.09.2014, 14:25:52
    Author     : uide8178
*/
#bookmarkContainer{
    position: absolute;
    top: 400px;
    left: 20px;
}

.esriBookmarks {
    border-width: 0px;
    background-color: $base-color;
}
.esriBookmarkLabel, .esriBookmarkItem{
    color: white;
}