.tractalis-logo {
	img {
		width: 100%;
		height: 100%;
	}
}

.center-container {
	.x-box-target {
		height: 100%;
	}

	.event-name-label {
		margin-left: 10px;
	}

	.event-logo {
		margin-top: 10px;
		
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.right-container {
	img.main-sponsor {
		cursor: pointer;
		margin-right: 10px;
	}
}
