/** @class Global_CSS */
//
// @font-face {
//     font-family: SegoeUI;
//     src: url(segoeui.ttf);
// }

$color: #000 !default;
$font-family: SegoeUI, helvetica, arial, verdana, sans-serif !default;
$font-size: 13px !default;
$font-weight: normal !default;
$font-weight-bold: bold !default;
$line-height: 17px !default;

// the base color which is this blue for window panels, etc.
$base-color: #446CAF;	

// reset base gradient\
$base-gradient: null;

// the black which is used for fonts or headerbar background
$second-color: #333333;

// the light gray which is used for grid group title backgrounds etc.
$third-color: #D7D8D9;