/**
 * @var {number}
 * The outline-width of the splitter when it is focused
 */
$splitter-focus-outline-width: dynamic(0px);

$splitter-collapse-tool-glyph-color: dynamic($tool-glyph-color);

$splitter-collapse-tool-background-color: dynamic($base-color);