.sponsor-view {
    line-height: 0;

    img {
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: white;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: solid 1px rgba(black, 0.1);
    }
}
