@keyframes bounce {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-5px);
	}
}

#mapViewContainer>.x-panel-body {
	z-index: 1; // to create new stacking context and prevent leaflet map cover load mask
}

.tractalis-position-popup,
.tractalis-fix-point-popup,
.tractalis-kml-layer-popup,
.tractalis-historical-waypoint-popup,
.tractalis-historical-positions-popup {
	/* unfortunately we have to do this like this as current version of leaflet puts
	 * hard bottom: -7px on element style which causes popup to start a bit too low :P
	 */
	bottom: 0 !important;

	.leaflet-popup-content-wrapper {
		@include border-radius(4px);
		
		.leaflet-popup-content {
			margin: 1px 19px 1px 5px;
		}
	}

	a.leaflet-popup-close-button {
		padding: 0 !important;

		width: 18px !important;
		height: 18px !important;
		top: -5px !important;
		right: -5px !important;
		background: red !important;
		color: white !important;
		border-radius: 10px !important;
		
		&:hover {
			background: lighten(red, 20%) !important;
		}
	}

	.leaflet-popup-content-wrapper,
	.leaflet-popup-tip {
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
	}
	
	.leaflet-popup-tip-container {
		height: 5px;

		.leaflet-popup-tip {
			width: 10px;
			height: 10px;
			margin: -8px auto 0;
		}
	}
}

.tractalis-fix-point-popup {
	.leaflet-popup-content-wrapper,
	.leaflet-popup-tip {
		// background-color: $base-color;
		// color: white;
	}
}

.tractalis-historical-positions-popup {
	.leaflet-popup-content-wrapper,
	.leaflet-popup-tip {
		background-color: $base-color;
		color: white;
	}
}

.tractalis-historical-waypoint-popup {
	.leaflet-popup-content-wrapper,
	.leaflet-popup-tip {
		background-color: #27ae60;
		color: white;
		p {
			margin-top: 5px;
		}
	}
}

.leaflet-tooltip {
	&.position-label,
	&.fixpoint-label {
		background: rgba(235, 235, 235, 0.81);
		background-clip: padding-box;
		border-color: rgba(0, 0, 0, 0.25);
		@include border-radius(4px);
		border-style: solid;
		border-width: 2px;
		color: #111;
		font-weight: bold;
		padding: 1px 4px;
		position: absolute;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
		white-space: nowrap;
		z-index: 10;

		&.leaflet-clickable {
			cursor: pointer;
			pointer-events: auto;
		}
		
		&.leaflet-tooltip-right {
			margin-left: 10px;
		}
		
		&.leaflet-tooltip-left {
			margin-left: -10px;
		}
		
		&.leaflet-tooltip-right:before {
			border-right: 6px solid black;
			border-right-color: inherit;
		}
		
		&.leaflet-tooltip-left:before {
			border-left: 6px solid black;
			border-left-color: inherit;
		}
	}
	
	&.position-label {
		background: rgba(255, 200, 0, 0.8);
		color: #446CAF;
		border-color: rgba(68, 108, 175, 0.95);
		
		&.no-signal {
			background: rgba(255, 255, 255, 0.6);
			border-color: rgba(68, 108, 175, 0.8);
		}

		&.medic:not(.no-signal) {
			background: rgba(255, 255, 255, 0.8);
			color: #FF0000;
			border-color: rgba(255, 0, 0, 0.95);
		}
	}
	
	&.fixpoint-label {
		background: rgba(34, 30, 30, 0.7);
		color: #eee;
		border-color: rgba(34, 30, 30, 0.8);
	}
}

.tractalis-position-marker {
	will-change: transform; // still doesn't work for svg but let it wait here for time finally it comes

	&.no-signal {
		fill-opacity: 0.6 !important;
		fill: #FFFFFF !important;
		stroke: #446CAF;
		stroke-opacity: 0.8 !important;
	}

	&.followed {
		animation: bounce .5s cubic-bezier(0,0.45,.35,1) infinite alternate;
	}
}