.main-header-bar{
    .x-panel-body{
        background-color: $second-color;
    }
    
    .event-name-label {
        .x-panel-body {
            color: #fff;
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            
            .x-autocontainer-innerCt {
                vertical-align: middle !important;
            }
        }
    }
}

.metro-tile-navigation-panel{
    .x-panel-body {
        background-color: $second-color;
    }
}

.leaflet-popup-content {
	table {
		margin-bottom: 15px;

		tr {
			td:first-child {
				font-weight: bold;
				width: 100px;
			}
		}
	}

	img {
		width: 100%;
		margin-bottom: 15px;
	}
}