/** @class Ext.grid.feature.Grouping */
//

$grid-grouped-title-color: $second-color !default;
$grid-grouped-header-border-width: 0 0 1px 0 !default;
$grid-grouped-header-border-color: $third-color !default;
$grid-grouped-header-padding: 7px 4px !default;
$grid-grouped-icon-padding: 0 0 0 17px !default; 
$grid-grouped-header-background-color: $third-color !default;
